<a href="https://colab.research.google.com/github/JonasSouza871/Introducao-ao-GitHub/blob/main/Python_para_Data_Science_primeiros_passos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Manipulando dados com python

## Comando de saída

In [ ]:
print("hello world")

hello world

In [ ]:
print('jonas',22)

jonas 22

In [ ]:
#Variáveis
## associa um valor

idade = 22
print(idade)

22

In [ ]:
idade = 10
print(idade) #muda o valor
idade #so funciona se for a utima linha da celula

10

10

In [ ]:
nome = 'gabriel'
nome

'gabriel'

Regras:

- Não pode colocar variável que comece com numero ex = 10_notas, 2_nomes.
- Palavras separadas por espaço:
nome escola, nota estudantes
- nome de funçoes em python
ex : print , type etc
- Letras maiusculas e minucuslas geram diferentes variaveis
ex: Idade diferente de idades.

## Tipos de variáveis

- int = números inteiros.
- float = armazena numeros flutuantes ou parte fracionario.
- string = textos.
- bool = armazena valores lógicos verdadeiro ou falso.

In [ ]:
i = 5
type(i) #tipo de I

int

In [ ]:
f = 9.7
type(f)

float

In [ ]:
s = 'jonas'
type(s)

str

In [ ]:
b = True
type(b)

bool

In [ ]:
nome_aluno = "Jonas"
idade_aluno = 25
media_aluno = 9.3
passou_ano = True
dados_aluno = print(nome_aluno, idade_aluno, media_aluno, passou_ano)

Jonas 25 9.3 True

In [ ]:
som1 = 5
som2 = 3
soma = som1+ som2
print(soma)
diferenca = som1-som2
print(diferenca)
media = ((5+3)/2)
print(media)
media_ponderada = ((5*3+4*3)/6)
print(media_ponderada)

8
2
4.0
4.5

## Strings

In [ ]:
s1 = 'Jonas'
s2 = "bia"
type (s1),type(s2)

(str, str)

In [ ]:
objeto.metodo

In [ ]:
Texto = " Jonas Soiza" #mudar e configurar o nome

Str.upper() converte uma string para maiuscula

In [ ]:
Texto.upper()

' JONAS SOIZA'

str.strip() volta para o minusculo

In [ ]:
Texto.strip()

'Jonas Soiza'

str.replace(antigo,novo) -> substitui uma string antiga por uma nova.

In [ ]:
Texto.replace('i','u') #corrige o nome

' Jonas Souza'

In [ ]:
#pode-se armazena em uma variavel
texto = Texto.strip().replace('u','i')
print(texto) #dois comando juntos

Jonas Soiza

## Coletando dados

Comandos de entrada de informação

In [ ]:
nome = input('Escreva seu nome abaixo') #entrada

Escreva seu nome abaixojonas

In [ ]:
print(nome)

jonas

Função de dados
- inteiros: int(dado)
- float : float(dado)

In [ ]:
ano = input("escreva o ano de entrada")

escreva o ano de entrada2023

In [ ]:
type(ano)

str

In [ ]:
ano = int(input("escrava o ano de entrada")) #convertendo o valor para inteiro

escrava o ano de entrada2024

In [ ]:
type(ano)

int

In [ ]:
nota = float(input("diga sua nota")) #converte pra float

diga sua nota7.9

In [ ]:
type(nota)

float

In [ ]:
nota_entrada = float(input("digite a nota do teste")) #entrada
print(f'ano de entrada {ano} - nota do teste {nota_entrada}' ) # com a chaves só roda depois do input, ou seja somente apos a entrada

digite a nota do teste9.8
ano de entrada 2024 - nota do teste 9.8

In [ ]:
nome = "Ana Maria"
idade = 17
print(f"O nome da aluna é {nome} e sua idade é {idade} anos.")

O nome da aluna é Ana Maria e sua idade é 17 anos.

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

In [ ]:
nome = 'jonas' #str sempre entre aspas
idade = 22
print('O nome do aluno é {} e ele tem {} anos.'.format(nome, idade))

O nome do aluno é jonas e ele tem 22 anos.

In [ ]:
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa') #\n para pular de linha

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

### Exercícios:

1. Coleta e amostragem de dados
- Crie um programa que solicite à pessoa usuária digitar seu nome, e imprima “Olá, [nome]!”.
- Crie um programa que solicite à pessoa usuária digitar seu nome e idade, e imprima “Olá, [nome], você tem [idade] anos.”.
- Crie um programa que solicite à pessoa usuária digitar seu nome, idade e altura em metros, e imprima “Olá, [nome], você tem [idade] anos e mede [altura] metros!”.

In [ ]:
#Resposdendo a letra A:
nome = str(input("qual o seu nome?"))
print('ola {}'.format(nome))

qual o seu nome?jonas
ola jonas

In [ ]:
#repondendo letra B:
nome = str(input("Qual o seu nome"))
idade = int(input("qual a sua idade?"))
print('ola {}, voce tem {} anos'.format(nome, idade))

Qual o seu nomejonas
qual a sua idade?22
ola jonas, voce tem 22 anos

In [ ]:
#Respondendo Letra C:
nome = str(input("Qual o seu nome"))
idade = int(input("qual a sua idade?"))
altura = float(input("qual a sua altura?"))
print('olha{} voce tem{} anos e  {} altura'.format(nome, idade, altura))

Qual o seu nomejonas
qual a sua idade?22
qual a sua altura?1.71
olhajonas voce tem22 anos e  1.71 altura

Calculadora com operadores
- Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a soma dos dois valores.
- Crie um programa que solicite três valores numéricos à pessoa usuária e imprima a soma dos três valores.
- Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a subtração do primeiro pelo o segundo valor.
- Crie um programa que solicite dois valores numéricos à pessoa usuária e imprima a multiplicação dos dois valores.
- Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e realize a divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
- Crie um programa que solicite dois valores numéricos, um operador e uma potência, e realize a exponenciação entre esses dois valores.
- Crie um programa que solicite dois valores numéricos, um numerador e um denominador e realize a divisão inteira entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
- Crie um programa que solicite dois valores numéricos, um numerador e um denominador, e retorne o resto da divisão entre os dois valores. Deixe claro que o valor do denominador não pode ser 0.
- Crie um código que solicita 3 notas de um estudante e imprima a média das notas.
- Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.

In [ ]:
# Letra A:
valores = int(input("digite um valor"))
valores_2 = int(input("digite outro valor"))
soma = valores + valores_2
print(' a soma dos valores é {}'.format(soma))

digite um valor25
digite outro valor2
 a soma dos valores é 27

In [ ]:
# Letra B:
valores = int(input("digite um valor"))
valores_2 = int(input("digite outro valor"))
valores_3 = int(input("digite mais um valor"))
soma = valores + valores_2 + valores_3
print(' a soma dos valores é {}'.format(soma))

digite um valor2
digite outro valor2
digite mais um valor2
 a soma dos valores é 6

In [ ]:
# Letra C:
valores = int(input("digite um valor"))
valores_2 = int(input("digite outro valor"))
diff = valores - valores_2
print(' a diferença dos valores é {}'.format(diff))

digite um valor5
digite outro valor7
 a diferença dos valores é -2

In [ ]:
# Letra D:
valores = int(input("digite um valor"))
valores_2 = int(input("digite outro valor"))
mult = valores * valores_2
print(' a multiplicação dos valores é {}'.format(mult))

digite um valor10
digite outro valor50
 a multiplicação dos valores é 500

In [ ]:
# Letra E
numerador = int(input("digite um valor"))
denominador = int(input("digite outro valor"))
if denominador == 0: #if finaliza com 2 pontos utilizar ==
    print("Resultado invalido")
else:
    divisao = numerador/denominador #se for diferente de 0 faz a operação
    (print("O resultado da divisão é {}".format(divisao)))

digite um valor32
digite outro valor7
O resultado da divisão é 4.571428571428571

In [ ]:
# Letra F:
numerador = float(input("digite um valor"))
denominador = float(input("digite outro valor"))
pot = numerador**denominador
print('o resultado da potencia é {}'.format(pot))

digite um valor3
digite outro valor3
o resultado da potencia é 27.0

In [ ]:
numerador = int(input("Digite um valor: "))
denominador = int(input("Digite outro valor: "))

if denominador == 0:  # Verifica se o denominador é 0
    print("Resultado inválido")
else:
    divisao = numerador / denominador  # Realiza a divisão
    resto = numerador % denominador  # Calcula o resto da divisão , resto: %
    print("O resultado da divisão é {}".format(divisao))
    print("O resto da divisão é {}".format(resto))  # Exibe o resto

Digite um valor: 5
Digite outro valor: 2
O resultado da divisão é 2.5
O resto da divisão é 1

In [ ]:
# Letra H:
nota_1 = float(input("digite a nota 1:"))
nota_2 = float(input("digite a nota 2:"))
nota_3 = float(input("digite a nota 3:"))
media = (nota_1 + nota_2+ nota_3)/3
print(' a media dos alunos foi {}'.format(media))

digite a nota 1:3
digite a nota 2:2
digite a nota 3:1
 a media dos alunos foi 2.0

In [ ]:
#letra I:
#números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4.
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4)/(1+2+3+4)# media ponderada é a divisao dos pesos
print('o valor de media poderada é {}'.format(media_ponderada))

o valor de media poderada é 14.9

**Questão 4**
- Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase na tela.
- Crie um código que solicite uma frase e depois imprima a frase na tela.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras maiúsculas.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase digitada mas com todas as letras minúsculas.
- Crie uma variável chamada “frase” e atribua a ela uma string de sua escolha. Em seguida, imprima a frase sem espaços em branco no início e no fim.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase sem espaços em branco no início e no fim e em letras minúsculas.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “e” trocadas pela letra “f”.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as vogais “a” trocadas pela caractere “@”.
- Crie um código que solicite uma frase à pessoa usuária e imprima a mesma frase com todas as consoantes “s” trocadas pelo caractere “$”.

In [ ]:
# Letra A:

# Estruturas condicionais

## O que são estruturas condicionais?

- Ligado a condições, sim e não.
- se tal coisa ocorrer, se não acontecer.
- se a condição for verdadeira...
- Se condição:
   - Instruções caso a condição seja verdadeira
- Senão
   - Instruções caso a condição seja falsa.

if condição:
- faça algo

In [ ]:
if 2<1:
  print('condicao verdadeira')
print('fora do bloco')

fora do bloco

if condição:
- faça algo
else:
- faça algo

In [ ]:
media = float(input('digite a média:'))

if media >= 6.0:
  print('aprovado(a)')
else:
  print('reprovado')

digite a média:3
reprovado

In [ ]:
media = float(input('digite a média:'))

if media >= 6.0:
  print('aprovado(a)')
if 6.0 > media >= 4:
  print('recuperação')
else:
  print('reprovado')

digite a média:5
recuperação

## Elif
- if condição 1:
   - faça algo
- elif condição 2:
   - faça outra coisa
- elif condição3:
 - faça outra coisa
- else:
  - faça algo diff

- Não eixste limitação

In [ ]:
media = float(input("digite a média:"))

if media >= 6.0:
  print('aprovado(a)')
elif 6.0 > media >= 4:
  print('recuperação')
elif 4.0 > media >= 3.0 :
  print("talvez reprovado")
else:
  print('reprovado')

digite a média:3
talvez reprovado

## Operador Lógicos

- And or e not, comparação em elemento lógicos.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
# OPERADOR AND, SO SERÁ VERDADE COMO AMBOS FOREM VERDADEIRO

if t1 and f2:
  print('expressão verdadeira') #quando for verdadeiro

else:
  print('expresão falsa') # quando for falso

expresão falsa

In [ ]:
# OPERADOR OR, SO SERÁ VERDADE QUANDO PELO MENOS UM FOR VERDADEIRO

if t1 or f2:
  print('expressão verdadeira') #quando for verdadeiro

else:
  print('expresão falsa') # quando for falso

expressão verdadeira

In [ ]:
# OPERADOR NOT, INVERTE O RESULTADO BOOLEANO, TRUE VIRA FALSE E FALSE VIRA TRUE

if not t1: # Se não for verdadeira retorna falsa, como t1 é true será invertido
  print('expressão verdadeira') #quando for verdadeiro

else:
  print('expresão falsa') # quando for falso

expresão falsa

### Operador IN
- Verifica se algo esta dentro de uma lista

In [ ]:
Lista_nomes = 'Jonas', 'Bruno', 'marcelo','gabriel'
Lista_nomes

('Jonas', 'Bruno', 'marcelo', 'gabriel')

In [ ]:
nome_1 = 'Jonas'
nome_2 = 'Fernando'
if nome_2 in Lista_nomes: #Verifica se existe na variavel lista
  print('{} está na listta'.format(nome_2))
else:
   print('{} não está na listta'.format(nome_2))

Fernando não está na listta

### Tabela da verdade

- Operador AND:


![image.png]()

- Operador OR:

![image.png]()

- Operador NOT:

![image.png]()

### Exercícios:

1. Escreva um programa que peça à pessoa usuária para fornecer dois números e exibir o número maior.

In [ ]:
numero = float(input("Digite um nuemro:"))
numero2 = float(input("Digite outro numero:"))
if(numero>numero2):
  print("{} é maior que {}".format(numero,numero2))
elif(numero == numero2):
  print("numeros são iguais")
else:
  print("{} é maior que {}".format(numero2,numero))

Digite um nuemro:1
Digite outro numero:1
numeros são iguais

2. Escreva um programa que solicite o percentual de crescimento de produção de uma empresa e informe se houve um crescimento (porcentagem positiva) ou decrescimento (porcentagem negativa).

In [ ]:
crescimento = float(input("digite a porcentagem de crescimento da impresa"))
if(crescimento > 0):
  print("O crescimente foi positivo")
elif(crescimento == 0):
  print(" O crescimento se manteve nulo")
else:
  print("O crescimento foi negativo")

digite a porcentagem de crescimento da impresa0
 O crescimento se manteve nulo

3. Escreva um programa que determine se uma letra fornecida pela pessoa usuária é uma vogal ou consoante.

In [ ]:
letra = str(input("Digite uma letra")).lower()#garantir que será minuscula
if letra in ('a', 'e', 'i', 'o', 'u'): #Se letra for uma das vogais
  print("você digitou uma vogal")
else:
  print("você digitou uma cosoante")

Digite uma letraa
você digitou uma vogal

4. Escreva um programa que leia valores médios de preços de um modelo de carro por 3 anos consecutivos e exiba o valor mais alto e mais baixo entre esses três anos.

In [ ]:
carro_2018 = float(input("digite o vlaor medio do modelo em 2018"))
carro_2019 = float(input("digite o vlaor medio do modelo em 2019"))
carro_2020 = float(input("digite o vlaor medio do modelo em 2020"))

if(carro_2018 > carro_2019 and carro_2020):
  print("O valor médio em 2018 foi maior")
elif(carro_2019 > carro_2018 and carro_2020):
  print("O valor médio em 2019 foi maior")
elif(carro_2020 > carro_2018 and carro_2019):
  print("O valor médio em 2020 foi maior")

digite o vlaor medio do modelo em 201825
digite o vlaor medio do modelo em 201934
digite o vlaor medio do modelo em 202023
O valor médio em 2019 foi maior

5. Escreva um programa que pergunte sobre o preço de três produtos e indique qual é o produto mais barato para comprar.

In [ ]:
produto_1 = float(input("digite o valor do produto 1"))
produto_2 = float(input("digite o valor do produto 2"))
produto_3 = float(input("digite o valor do produto 3"))

if(produto_1 < produto_2 and produto_3):
  print("O produto 1 é o mais barato")
elif(produto_2 < produto_1 and produto_3):
  print("O produto 2 é o mais barato")
else:
  print("O produto 3 é o mais barato")

digite o valor do produto 120
digite o valor do produto 210
digite o valor do produto 315
O produto 2 é o mais barato

6. Escreva um programa que leia três números e os exiba em ordem decrescente.

In [ ]:
numero_1 = float(input("Digite um número: "))
numero_2 = float(input("Digite outro número: "))
numero_3 = float(input("Digite mais um número: "))

numeros = [numero_1, numero_2, numero_3]
numeros_ordenados = sorted(numeros, reverse=True)  # Ordena os números em ordem decrescente
# função sorte coloca os numeros em outro crescente ou decrescente
print(numeros_ordenados)

Digite um número: 3
Digite outro número: 2
Digite mais um número: 1
[1.0, 2.0, 3.0]

7)  Escreva um programa que pergunte em qual turno a pessoa usuária estuda ("manhã", "tarde" ou "noite") e exiba a mensagem "Bom Dia!", "Boa Tarde!", "Boa Noite!", ou "Valor Inválido!", conforme o caso.

In [ ]:
turno = str(input("qual turno voce estuda? (Manhã,tarde e noite)"))
if(turno == 'manhã'):
  print("Bom dia")
elif(turno == 'tarde'):
  print("Boa tarde")
elif(turno == 'noite'):
  print("Boa noite")
else:
    print("comando invalido")

qual turno voce estuda? (Manhã,tarde e noite)tarde
Boa tarde

8. Escreva um programa que peça um número inteiro à pessoa usuária e determine se ele é par ou ímpar. Dica: Você pode utilizar o operador módulo %.

In [ ]:
numero=int(input("digite um numero inteiro"))
if(numero % 2 == 0): # se o resto de uma divisao por 2 for igual a 0
  print("numero par")
else:
  print("numero impar")

digite um numero inteiro3
numero impar

 9. Escreva um programa que peça um número à pessoa usuária e informe se ele é inteiro ou decimal.

In [ ]:
numero = float(input("digite um numero"))
if(numero % 1 == 0 ): #resto da visao por 1 for 0
  print("o numero é inteiro")
else:
  print('o número é decimal')

digite um numero2
o numero é inteiro

# Estruturas de repetição

Facilitar a analise de códigos repetitivos

- estruturas capazes de repetir um bloco durante quantas vezes quisermos
-----

- While condição:
   - bloco de codigo

  - irá se repetir até a setença for verdadeira

In [ ]:
contador = 1
while contador <= 10:
  print(contador) #adiciona 1
  contador = contador +1 #conta até 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
contador = 1
while contador <=3:
  nota_1 = float(input("digite a 1° nota"))
  nota_2 =float(input("digite a 2° nota"))
  media = (nota_1+nota_2)/2
  print('Média : {}'.format(media))
  contador = contador + 1 # fim do loop

digite a 1° nota3
digite a 2° nota4
Média : 3.5
digite a 1° nota6
digite a 2° nota5
Média : 5.5
digite a 1° nota5
digite a 2° nota4
Média : 4.5

- operadores de atribuição

![image.png]()

 - For

 - rodar elemento por elemento
 - for elemento in conjunto
     - codigo a ser executado
- função range(inicio, fim , passo)

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
for contador in range(1,4): #um a mais do numero q vc deseja conta, exemplo : quero contar 3 medias, 1+3 =4
  nota_1 = float(input("digite a 1° nota"))
  nota_2 =float(input("digite a 2° nota"))
  media = (nota_1+nota_2)/2
  print('Média : {}'.format(media))

digite a 1° nota3
digite a 2° nota2
Média : 2.5
digite a 1° nota3
digite a 2° nota4
Média : 3.5
digite a 1° nota4
digite a 2° nota5
Média : 4.5

- Coninue e Break -> comando para comandar o laço

In [ ]:
for i in range(1,6):
    if i == 4:
        continue #pula o numero 4
    print(i)

1
2
3
5

- Já o break interrompe a execução do laço completamente, saindo do bloco de código. Ou seja parando o codigo

In [ ]:
for i in range(1,6):
    if i == 4: #para o codigo antes de chegar no 4
        break
    print(i)

1
2
3

## Exercicios

1. Escreva um programa que peça dois números inteiros e imprima todos os números inteiros entre eles.

In [ ]:
num = int(input("digite um numero inteiro "))
num2 = int(input("digite outro numero inteiro "))
for i in range(num, num2+1):
  if(i % 1 == 0 ):
    print(i)

digite um numero inteiro 1
digite outro numero inteiro 10
1
2
3
4
5
6
7
8
9
10

2. Escreva um programa para calcular quantos dias levará para a colônia de uma bactéria A ultrapassar ou igualar a colônia de uma bactéria B, com base nas taxas de crescimento de 3% e 1,5% respectivamente. Considere que a colônia A inicia com 4 elementos e a B com 10.

In [ ]:
# Valores iniciais
bacteria_a = 4  # População inicial da colônia A
bacteria_b = 10  # População inicial da colônia B

taxa_a = 0.03  # Taxa de crescimento de 3% para colônia A
taxa_b = 0.015  # Taxa de crescimento de 1,5% para colônia B

dias = 0  # Contador de dias

# Loop até que a população de A ultrapasse ou iguale a de B
while bacteria_a < bacteria_b:
    bacteria_a += bacteria_a * taxa_a  # Crescimento da colônia A
    bacteria_b += bacteria_b * taxa_b  # Crescimento da colônia B
    dias += 1  # Incrementa o número de dias

# Resultado
print(f"Serão necessários {dias} dias para que a colônia A ultrapasse ou iguale a colônia B.")

Serão necessários 63 dias para que a colônia A ultrapasse ou iguale a colônia B.

3. Para tratar uma quantidade de 15 dados de avaliações de pessoas usuárias de um serviço da empresa, precisamos verificar se as notas são válidas. Então, escreva um programa que vai receber a nota de 0 a 5 de todos os dados e verificar se é um valor válido. Caso seja inserido uma nota acima de 5 ou abaixo de 0, repita até que a pessoa usuária insira um valor válido.

In [ ]:
notas = []

for i in range(1, 16):  # Loop de 1 até 15 (inclusivo)
    while True:  # Repetição até que uma nota válida seja inserida
        try:
            nota = float(input(f"Digite a nota {i} (entre 0 e 5): "))  # Pede a nota
            if 0 <= nota <= 5:  # Verifica se a nota é válida (entre 0 e 5)
                notas.append(nota)  # Adiciona a nota à lista
                break  # Sai do loop se a nota for válida
            else:
                print("Nota inválida! A nota deve estar entre 0 e 5.")  # Mensagem de erro
        except ValueError:
            print("Entrada inválida! Por favor, insira um número.")  # Trata entradas não numéricas

# Exibe as notas válidas inseridas
print('As notas válidas foram: {}'.format(notas))

digite uma nota1
digite uma nota2
digite uma nota3
digite uma nota4
digite uma nota5
digite uma nota6
nota invalida
digite uma nota7
nota invalida
digite uma nota8
nota invalida
digite uma nota9
nota invalida
digite uma nota0
nota invalida
digite uma nota10
nota invalida
digite uma nota11
nota invalida
digite uma nota12
nota invalida
digite uma nota13
nota invalida
digite uma nota14
nota invalida
digite uma nota15
nota invalida
digite uma nota17
nota invalida
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota1
digite uma nota

ValueError: could not convert string to float: ''

4. Desenvolva um programa que leia um conjunto indeterminado de temperaturas em Celsius e informe a média delas. A leitura deve ser encerrada ao ser enviado o valor -273°C.

In [ ]:
i =0
temperatura_soma = 0
while True:
  temperatura = float(input("digite uma temperatura"))
  if(temperatura <-273):
    print("temperatura invalida")
    break; # sai do loop

  else:
    i += 1
    temperatura_soma += temperatura
    temperatura_media = temperatura_soma/i

print("valor media de temperatura é igual a {}".format(temperatura_media))

digite uma temperatura24
digite uma temperatura34
digite uma temperatura34
digite uma temperatura-2
digite uma temperatura-273
digite uma temperatura-274
temperatura invalida
valor media de temperatura é igual a -36.6

5. Escreva um programa que calcule o fatorial de um número inteiro fornecido pela pessoa usuária. Lembrando que o fatorial de um número inteiro é a multiplicação desse número por todos os seus antecessores até o número 1. Por exemplo, o fatorial de 5 é 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
fatorial = int(input("Digite um número para calcular seu fatorial: "))
fatorial_num = 1  # Inicializa com 1, pois o fatorial é um produto

# Loop para calcular o fatorial
for i in range(fatorial, 0, -1):
    fatorial_num *= i

print(f"O fatorial de {fatorial} é {fatorial_num}")

Digite um número para calcular seu fatorial: 3
O fatorial de 3 é 6

# Estruturas de dados

## Listas:
As armezanar uma coleção de itens em ordem

- separados em indie jonas > indice 0, 9.5 indice 1

In [ ]:
lista = ['Jonas', 9.5, 9.0, 8.0, True] #aprovado
lista

['Jonas', 9.5, 9.0, 8.0, True]

In [ ]:
lista[0]

'Jonas'

In [ ]:
lista[2]

9.0

In [ ]:
lista[-4]

9.5

In [ ]:
lista[-3]

9.0

In [ ]:
for elemento in lista:
  print(elemento)

Jonas
9.5
9.0
8.0
True

In [ ]:
lista[3] = 10
lista

['Jonas', 9.5, 9.0, 10, True]

In [ ]:
media = (lista[1] + lista[2]+ lista[3])/3
media

9.5

## Para saber mais: String - uma sequência de caracteres

In [ ]:
linguagem = 'Python'

In [ ]:
print(linguagem[0], linguagem[1], linguagem[2], linguagem[3], linguagem[4], linguagem[5])

P y t h o n

In [ ]:
print(linguagem[3])

h

In [ ]:
duvida = 'Quem veio antes? O ovo? Ou foi a serpente?'
lista_palavras = duvida.split('?') #separa apartir da interrogação, comando split
print(lista_palavras)

['Quem veio antes', ' O ovo', ' Ou foi a serpente', '']

In [ ]:
misturas = ['Tintas: vermelho, azul e amarelo',
            'Verde: mistura de azul e amarelo',
            'Laranja: mistura de vermelho e amarelo',
            'Roxo: mistura de vermelho e azul']
unificador = '. '
string_misturas = unificador.join(misturas) #adiciona um termo e unifica ao final
print(string_misturas)

## Manipulação de listas

- Quantidade de elementos -> Função Len()

In [ ]:
lista = ['Jonas', 9.5, 9.0, 8.0, True]
len(lista)

5

- Partição -> selecionar um subconjunto de elementos de uma lista -> lista[inicio:fim] ond einicio é o primeiro elemento a ser incluído e fim é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:4] #o fim é o ultimo termo a ser excluido, se queremos 3 indices logo 3+1 =4

[9.5, 9.0, 8.0]

In [ ]:
lista[1:3]

[9.5, 9.0]

In [ ]:
lista[:3] # do primeiro até o 3°

['Jonas', 9.5, 9.0]

- Adicionar uma elemento ao final da lista -> Função append()

In [ ]:
lista.append(media) #acrescenta o valor da media
print(lista)

['Jonas', 9.0, 8.0, True, 9.5]

- Retirar o ultimo elemento da lista -> função remove()

In [ ]:
lista.remove(media)
print(lista)

['Jonas', 9.0, 8.0, True]

adicionar varios elementos ao fim da lista -> Extend([])

In [ ]:
lista.extend([10,0,1])
print(lista)

['Jonas', 9.0, 8.0, True, 10, 0, 1]

In [ ]:
lista.remove(1)
lista

['Jonas', 9.0, 8.0, 10, 0]